{% extends 'base.html' %}
{% load staticfiles %}
<head>
    <title>{% block title %}
        Dashboard | Ayesha Pages 
    {% endblock %}</title>

    {% block head_extra %}
    <!-- Custom CSS -->
    <link href="{% static 'dashboard/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'dashboard/css/plugins/morris.css' %}" rel="stylesheet">

    {% endblock %}

</head>

<body>
{% block content_header %}
    
    <div id="wrapper">
        {% block d_nav_bar %}
            <!-- Navigation -->
            {% include "dashboard/d_nav_bar.html" %}
        {% endblock %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-heart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ poem_published.count }}</div>
                                        <div>Poems!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'dashboard:all_poem' %}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-question-circle fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ riddle_published.count }}</div>
                                        <div>Riddles!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'dashboard:all_riddle' %}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-quote-right fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ story_published.count }}</div>
                                        <div>Stories!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'dashboard:all_story' %}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Your Writing Pattern.</h3>
                            </div>
                            <div class="panel-body">
                                {% if hide_donut == False %}
                                    <canvas id="myChart_pie" width="400" height="200"></canvas>
                                {% else %}
                                    <p>Oops, This Feature is not available yet</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- /. column -->

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Published and Draft</h3>
                            </div>
                            <div class="panel-body">
                                {% if hide_area_chart == False %}
                                    <canvas id="myChart" width="400" height="200"></canvas>
                                {% else %}
                                    <p>Oops, This Feature is not available yet</p>
                                {% endif %}                                    
                            </div>
                        </div>
                    </div>
                    <!-- /. column -->
                </div>

                 <!-- /.row -->
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Shortcuts</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="{% url 'dashboard:new_poem' %}" class="list-group-item">
                                        <span class="badge">
                                            {% for p in last_poem %}
                                                {{ p.updated|timesince }} ago
                                            {% endfor %}
                                        </span>
                                        <i class="fa fa-fw fa-heart"></i> New Poem
                                    </a>
                                    <a href="{% url 'dashboard:new_riddle' %}" class="list-group-item">
                                        <span class="badge">
                                            {% for p in last_riddle %}
                                                {{ p.updated|timesince }} ago
                                            {% endfor %}
                                        </span>
                                        <i class="fa fa-fw fa-question-circle"></i> New Riddle
                                    </a>
                                    <a href="{% url 'dashboard:new_story' %}" class="list-group-item">
                                        <span class="badge">
                                            {% for p in last_story %}
                                                {{ p.updated|timesince }} ago
                                            {% endfor %}
                                        </span>
                                        <i class="fa fa-fw fa-quote-right"></i> New Story
                                    </a>
                                 </div>
                            </div>
                        </div>
                    </div>                

                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                            </div>
                            <div class="panel-body">
                                {% if hide_task_panel == False %}
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <span class="badge">just now</span>
                                            <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">4 minutes ago</span>
                                            <i class="fa fa-fw fa-comment"></i> Commented on a post
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">23 minutes ago</span>
                                            <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">46 minutes ago</span>
                                            <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">1 hour ago</span>
                                            <i class="fa fa-fw fa-user"></i> A new user has been added
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">2 hours ago</span>
                                            <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">yesterday</span>
                                            <i class="fa fa-fw fa-globe"></i> Saved the world
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge">two days ago</span>
                                            <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                        </a>
                                    </div>
                                    <div class="text-right">
                                        <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                {% else %}
                                    <p>Oops, This Feature is not available yet</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>                
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        {% include 'footer.html' %}
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock content_header %}

{% block custom_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js "></script>
    <script>
        $(document).ready(function(){
            var endpoint = "dashboard/api/chart/data/"
            var defaultData_total = [{{ poem_draft.count }},{{ riddle_draft.count }},{{ story_draft.count }}]
            var defaultData_published = [{{ poem_published.count }},{{ riddle_published.count }},{{ story_published.count }}]
            var labels = []
            $.ajax({
                method : 'GET',
                url : endpoint,
                success: function(data) {
                    labels = data.labels
                    // defaultData = data.default
                    console.log(data)
                    // SHOWING THE CHART HERE
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Published',
                                data: defaultData_published,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.9)',
                                    'rgba(54, 162, 235, 0.9)',
                                    'rgba(255, 206, 86, 0.9)',
                                    'rgba(75, 192, 192, 0.9)',
                                    'rgba(153, 102, 255, 0.9)',
                                    'rgba(255, 159, 64, 0.9)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 0

                            },
                            {
                                label: 'Draft',
                                data: defaultData_total,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.5)',
                                    'rgba(54, 162, 235, 0.5)',
                                    'rgba(255, 206, 86, 0.5)',
                                    'rgba(75, 192, 192, 0.5)',
                                    'rgba(153, 102, 255, 0.5)',
                                    'rgba(255, 159, 64, 0.5)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,0.1)',
                                    'rgba(54, 162, 235, 0.1)',
                                    'rgba(255, 206, 86, 0.1)',
                                    'rgba(75, 192, 192, 0.1)',
                                    'rgba(153, 102, 255, 0.1)',
                                    'rgba(255, 159, 64, 0.1)'
                                ],
                                borderWidth: 1
                            },
                        ]},

                        options: {
                            scales: {
                                yAxes: [{
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    // END OF SHOWING THE CHART HERE
                    var ctx2 = document.getElementById("myChart_pie").getContext('2d');
                    var myChart = new Chart(ctx2, {
                        type: 'pie',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Published',
                                data: defaultData_published,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.9)',
                                    'rgba(54, 162, 235, 0.9)',
                                    'rgba(255, 206, 86, 0.9)',
                                    'rgba(75, 192, 192, 0.9)',
                                    'rgba(153, 102, 255, 0.9)',
                                    'rgba(255, 159, 64, 0.9)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 0

                            }
                        ]},
                    });
                    // END OF SHOWING THE CHART HERE
                },
                error: function(error_data) {
                    console.log("error")
                    console.log(error_data)
                },

            })
        })
    </script>    

{% endblock %}

</body>

</html>
