<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'writer:list' %}">Ritrew<sub style="color: red; size: 0.5em">Alpha</sub></a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li 
                {% if name_nav == 'about' %}
                    class="active"
                {% endif %}
                >
                    <a href="{% url 'about' %}">About</a>
                </li>

                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li 
                {% if name_nav == 'poem' %}
                    class="active"
                {% endif %}
                >
                    <a href="{% url 'writer:poem_list' %}">Poems</a>
                </li>
                <li
                {% if name_nav == 'story' %}
                    class="active"
                {% endif %}
                >
                    <a href="{% url 'writer:story_list' %}">Stories</a>
                </li>
                <li
                {% if name_nav == 'riddle' %}
                    class="active"
                {% endif %}
                >
                    <a href="{% url 'writer:riddle_list' %}">Riddles</a>
                </li>
                <!-- If login -->

                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">
                        Logout from
                        {% if user.get_full_name %}
                            {{ user.get_full_name }}
                        {% else %}
                            {{ user }}
                        {% endif %}
                    </a>
                </li>
                    {% if user.is_staff or user.is_superuser %}
                        <li>
                            <a href="{% url 'dashboard:list' %}">Dashboard</a>
                        </li>
                    {% endif %}
                {% else %}
                <li
                {% if name_nav == 'login' %}
                    class="active"
                {% endif %}
                >
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
